<div>
  <audio controls autoplay>
    <source src="<%= call.path %>" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>
<button id="show-answer">Show</button>
<button id=next-question>Next</button>
<div id="answer">
  <%= call.name %>
</div>


<script>
  $("#show-answer").click(function() {
    $("#answer").show();
  });
  $("#next-question").click(function() {
    $.get('/random', function() {
      window.location = '/random';
    });
  });
</script>
